{% extends "base.html.twig" %}

{% block title %}Modifier mon email{% endblock %}

{% block body %}

    <div class="change_email">
        <div class="change_email--head">
            <div class="change_email--head--background"></div>
            <div class="change_email--head--content">
                <h1 class="change_email--head--content--title">Modifier mon email</h1>
            </div>
        </div>
        <div class="change_email--cont">
            <div class="change_email--cont--card">
                {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    <div class="change_email--cont--card--btn-cont">
                        <button class="change_email--cont--card--btn">Modifier</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('change_email') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('change_email') }}
{% endblock %}