{% extends "base.html.twig" %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

    <div class="edit_password">
        <div class="edit_password--head">
            <div class="edit_password--head--background"></div>
            <div class="edit_password--head--content">
                <h1 class="edit_password--head--content--title">Modifier mon mot de passe</h1>
            </div>
        </div>
        <div class="edit_password--cont">
            <div class="edit_password--cont--card">
                {% for flash_success in app.flashes('success-edit-password') %}
                    <div class="alert alert-success" role="alert">{{ flash_success }}</div>
                {% endfor %}
                {{ form_start(form) }}
                    {{ form_row(form.oldPassword) }}
                    <hr class="edit_password--cont--card--separator">
                    {{ form_row(form.newPassword) }}
                    <div class="edit_password--cont--card--btn-cont">
                        <button class="edit_password--cont--card--btn">Editer</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('edit_password') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('edit_password') }}
{% endblock %}